.navbar-container aside {
  background-color: #142440;
}
.aside-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icons a {
  font-size: 15px;
  margin: 0 14px;
  color: #fff;
}
.user-login a {
  text-decoration: none;
  margin: 0 10px;
}
.navbar-container {
  background-color: rgba(0, 0, 0, 0.446);
}

@media only screen and (max-width: 768px) {
  .aside-container {
    display: block;
  }
}
